*{
    box-sizing: border-box;
}

.hidden, .warm, .editAndAdd, .emptyList, .confirmation, .btnSavePeople, .btnSave{
    display: none;
}

.peopleList{
    width: 50%;
    border: 3px solid black;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    gap: 20px;
    background-color: rgb(242, 234, 234);
}

.blockNameAge, .blockMoreInfo{
    font-size: 18px;
    font-weight: 600;
    display: flex;
    gap: 3px;
    flex-direction: column;
    justify-content: center;
}

.blockMoreInfo{
    font-weight: 400;
}

.blockPeople{
    display: flex;
    justify-content: space-between;
}

.blockBtn{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
}

.btnView, .btnEdit, .btnDelete{
    border: 1px solid black;
    border-radius: 20px;
    width: 150px;
    padding-left: auto;
    padding-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.buttonAdd{
    border: 2px solid black;
    border-radius: 20px;
    width: 20%;
    padding-left: auto;
    padding-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(230, 210, 210);
    font-size: 18px;
    font-weight: bold;
}

.blockBtnAdd{
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.confirmation, .editAndAdd{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.755);
}

.blockDelete , .formEditAndAdd{
    width: 500px ;
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.formEditAndAdd{
    width: 800px ;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.yes, .no, .btnSave, .btnSavePeople{
    border: 1px solid black;
    border-radius: 20px;
    width: 150px;
    padding-left: auto;
    padding-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    background-color: rgb(230, 210, 210);
}

.btnSave, .btnSavePeople{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    width: 30%;
}


.blockBtnDelete{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.textDelete, .textForm{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.textName, .textAge, .textPassword, .textMail, .textPhone, .textCard{
    border: 1px solid black;
    border-radius: 20px;
    width: 50%;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 16px;
    background-color: rgb(245, 237, 237);
}

.btnClose{
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    background: transparent;
    top: 0px;
    right: 0;
    border: 0;
}

.Error{
    border: 2px solid red;
}
